/* GENERAL */
:root {
    --outlineColor: transparent; /*#00ff21*/
    --sectionHeight: 450px;
    --tanGold: #a1880c;
    --darkGreen: #163908;
    --darkGrey: #43464B;
    --lightGrey: #d3d3d3;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: var(--tanWhite);
}

/* NAVBAR */
#navbar {
    background-color: var(--lightGrey);
    width: 100%;
    height: 80px;
    opacity: 90%;
    position: fixed;
    outline: 2px solid var(--outlineColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    outline: 2px solid var(--outlineColor);
}

li {
/*  background-color: #ebebeb;
    border-radius: 5px;*/
    display: inline-block;
    margin: 0 30px;
    border: 2px solid var(--outlineColor);
}

nav a {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    nav a:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* The titles for the dropdowns on the navbar*/

#scooterNavTitle {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
    #scooterNavTitle:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

#bikeNavTitle {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
    #bikeNavTitle:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

.dropdown-content .navLink {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
    .dropdown-content .navLink:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

/* INDEX PAGE */
/* SECTION ONE */
#sectionOneContainer {
    height: var(--sectionHeight);
    width: 100%;
    background-image: url('/images/RoadBike.jpg');
    background-size: cover;
    background-attachment: fixed;
    outline: 2px solid var(--outlineColor);
}

#sectOneHeadCont {
    display: flex;
    align-items: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#sectOneHead {
    font-family: 'Cinzel', serif;
    color: var(--lightGrey);
    font-size: 64px;
    display: flex;
    align-items: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}
/* SECTION TWO */

#sectionTwoContainer {
    height: var(--sectionHeight);
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#sectTwoHeadCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#sectTwoHead {
    font-size: 36px;
    outline: 2px solid var(--outlineColor);
}

#sloganHeader {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#sectionTwoBody {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#bodySectOne {
    width: 33%;
    outline: 2px solid var(--outlineColor);
}

#bodySectTwo {
    width: 33%;
    outline: 2px solid var(--outlineColor);
}

#serviceList {
    text-align: left;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

.serviceItem {
    font-size: 18px;
    height: 50px;
    outline: 2px solid var(--outlineColor);
}

/*CONTACT PAGE*/
#ContactOneContainer {
    height: 250px;
    width: 100%;
    background-image: url('/images/BannerImg.jpg');
    background-size: cover;
    background-attachment: fixed;
    outline: 2px solid var(--outlineColor);
}

/*SHOP PAGE*/
#RiderGearContainer {
    height: 350px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#RiderGearBody {
    text-align:center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#RiderGearBodySectTwo {
    width: 66%;
    outline: 2px solid var(--outlineColor);
}
#gearTwoHead {
    font-size: 24px;
    outline: 2px solid var(--outlineColor);
}
/*Footer*/
#footer {
    background-color: var(--darkGrey);
}

/*Different Size Display*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
