/* GENERAL */
:root {
    --outlineColor: #00ff21; /*#00ff21*/
    --sectionHeight: 450px;
    --tanGold: #a1880c;
    --darkGreen: #163908;
    --darkGrey: #43464B;
    --lightGrey: #d3d3d3;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: var(--tanWhite);
}

/* NAVBAR */
#navbar {
    background-color: transparent;
    width: 100%;
    height: 100px;
    position: fixed;
    outline: 2px solid var(--outlineColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    outline: 2px solid var(--outlineColor);
}

li {
/*  background-color: #ebebeb;
    border-radius: 5px;*/
    display: inline-block;
    margin: 0 30px;
    border: 2px solid var(--outlineColor);
}

nav a {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    nav a:hover {
        color: var(--tanGold);
        text-decoration: none;
    }
/* INDEX PAGE */
/* SECTION ONE */
#sectionOneContainer {
    height: var(--sectionHeight);
    width: 100%;
    background-image: url('/images/RoadBike.jpg');
    background-size: cover;
    background-attachment: fixed;
    outline: 2px solid var(--outlineColor);
}

#sectOneHeadCont {
    display: flex;
    align-items: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#sectOneHead {
    font-family: 'Cinzel', serif;
    color: var(--lightGrey);
    font-size: 64px;
    display: flex;
    align-items: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/* SECTION TWO */

#sectionTwoContainer {
    height: var(--sectionHeight);
    width: 100%;
    outline: 2px solid var(--outlineColor);

}
#sectTwoHeadCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#sectTwoHead {
    outline: 2px solid var(--outlineColor);
}

#sloganHeader {
    outline: 2px solid var(--outlineColor);
}
/*Footer*/
#footer{
    background-color: var(--darkGrey);
}

/*Different Size Display*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
