@page
@model CountrySideBicylcling.Pages.Scooters.AmishModel
@{
}

<div style="height:100px;"></div>
<div id="scooterContainer">
    <div class="headCont">
        <h3 class="head">Amish</h3>
    </div>
    <h5 class="sloganHeader">Groffdale Machine Company</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul id="serviceList">
                <li class="item" style="height:75px;"><div class="smallHead">Phone</div> +1 717 656 7657 </li>
                <li class="item" style="height:75px;"><div class="smallHead">Address</div> 194 S. Groffdale Road, Leola, PA 17540 </li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.farmranch.org/company-groffdale-machine-co-in-leola-pa-61535"> <img src="/Images/amishScooter.webp" style="height:250px;" /></a>
        </div>
    </div>
</div>