@page
@model CountrySideBicylcling.Pages.Scooters.AmishModel
@{
}
<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">Amish</h3>
    </div>
    <h5 class="sloganHeader">Groffdale Machine Company</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>