@page
@model CountrySideBicylcling.Pages.Scooters.CanadianModel
@{
}
<div style="height:100px;"></div>
<div id="scooterContainer">
    <div class="headCont">
        <h3 class="head">Canadian</h3>
    </div>
    <h5 class="sloganHeader">SideWalker</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul id="serviceList">
                <li class="item" style="height:75px;"><div class="smallHead">Phone</div> 416-702-3636 </li>
                <li class="item" style="height:75px;">
                    <div class="smallHead">Address</div> 1 Wiltshire Ave. unit #135 Toronto, ON, M6N 2V7</li>
                <li class="item" style="height:75px;"><div class="smallHead">Email</div> kickstartscooters@yahoo.com </li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.farmranch.org/company-groffdale-machine-co-in-leola-pa-61535"> <img src="/Images/SideWalker.webp" style="height:250px;" /></a>
        </div>
    </div>
</div>