@page
@model CountrySideBicylcling.Pages.Scooters.ElectricScooterModel
@{
}
<div>
    E-Bike Kit + Sidewalker
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">Electric</h3>
    </div>
    <h5 class="sloganHeader"> E-Bike Kit + Sidewalker</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- check</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>
