/*layout*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }
  


/* GENERAL */
:root {
    --outlineColor: transparent; /*#00ff21*/
    --sectionHeight: 450px;
    --tanGold: #a1880c;
    --darkGreen: #163908;
    --darkGrey: #43464B;
    --lightGrey: #d3d3d3;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: var(--tanWhite);
}

.list {
    text-align: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

.item {
    font-size: 16px;
    height: 36px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

.sectOne {
    width: 33%;
    outline: 2px solid var(--outlineColor);
}

.sectTwo {
    width: 33%;
    outline: 2px solid var(--outlineColor);
}

.headCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.head {
    font-size: 36px;
    outline: 2px solid var(--outlineColor);
}

.smallHead {
    font-size: 24px;
    outline: 2px solid var(--outlineColor);
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.sectBody {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.sectBody2 {
    display: flex;
    margin: auto;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.sloganHeader {
    width: 100%;
    display: flex;
    font-size: 28px;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

.largerItem{
    font-size: 26px;
    height: 24px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/* NAVBAR */
#navbar {
    background-color: var(--lightGrey);
    width: 100%;
    height: 80px;
    opacity: 90%;
    position: fixed;
    outline: 2px solid var(--outlineColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

ul {
    list-style: none;
    margin: 0px;
    width: 100%;
    padding: 0;
    text-align: center;
    outline: 2px solid var(--outlineColor);
}

li {
    /*  background-color: #ebebeb;
    border-radius: 5px;*/
    display: inline-block;
    margin: 10px 1.5%;
    border: 2px solid var(--outlineColor);
}

nav a {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    nav a:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* The titles for the dropdowns on the navbar*/

#scooterNavTitle {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    outline: 2px solid var(--outlineColor);
}

    #scooterNavTitle:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

#bikeNavTitle {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    outline: 2px solid var(--outlineColor);
}

    #bikeNavTitle:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

.dropdown-content .navLink {
    font-family: 'Cinzel', serif;
    color: var(--darkGreen);
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    outline: 2px solid var(--outlineColor);
}

    .dropdown-content .navLink:hover {
        color: var(--tanGold);
        text-decoration: none;
    }

/* INDEX PAGE */
/* SECTION ONE */
#sectionOneContainer {
    height: var(--sectionHeight);
    width: 100%;
    background-image: url("Images/RoadBike.JPG");
    background-size: cover;
    background-attachment: fixed;
    outline: 2px solid var(--outlineColor);
}

#sectOneHeadCont {
    display: flex;
    align-items: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#sectOneHead {
    font-family: 'Cinzel', serif;
    color: var(--lightGrey);
    font-size: 64px;
    display: flex;
    align-items: center;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/* SECTION TWO */
#sectionTwoContainer {
    height: var(--sectionHeight);
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/*SECTION THREE*/
#sectionThreeContainer {
    height: var(--sectionHeight);
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#sectThreeHeadCont {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#sectThreeHead {
    font-size: 36px;
    outline: 2px solid var(--outlineColor);
}

#sectionThreeBody {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

/*CONTACT PAGE*/
#ContactOneContainer {
    height: 250px;
    width: 100%;
    background-image: url('Images/BannerImg.JPG');
    background-size: cover;
    background-attachment: fixed;
    outline: 2px solid var(--outlineColor);
}

/*SHOP PAGE*/
#RiderGearContainer {
    height: 350px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#RiderGearBody {
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--outlineColor);
}

#RiderGearBodySectTwo {
    width: 66%;
    outline: 2px solid var(--outlineColor);
}

.shopList {
    width: 30%;
    display: inline-block;
    outline: 2px solid var(--outlineColor);
}

.shopList2 {
    width: 40%;
    display: inline-block;
    outline: 2px solid var(--outlineColor);
}

#bikesContainer {
    height: 400px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

#scooterContainer {
    height: 350px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/*REPAIRS*/
#repairsContainer {
    height: 400px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/*SCOOTERS*/
#scooterContainer {
    height: 400px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}

/*FOOTER*/
#footer {
    background-color: var(--darkGrey);
    outline: 2px solid var(--outlineColor);
}

/*Different Size Display*/

@media (max-width: 825px) {

    #sectOneHead {
        font-family: 'Cinzel', serif;
        color: var(--lightGrey);
        font-size: 42px;
        display: flex;
        align-items: center;
        margin: auto;
        outline: 2px solid var(--outlineColor);
    }
    
.largerItem{
    font-size: 18px;
    height: 18px;
    width: 100%;
    margin: auto;
    outline: 2px solid var(--outlineColor);
}
}
@media (max-width: 600px) {


    nav a {
        font-family: 'Cinzel', serif;
        color: var(--darkGreen);
        font-size: 12px;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        outline: 2px solid var(--outlineColor);
    }

    #scooterNavTitle {
        font-family: 'Cinzel', serif;
        color: var(--darkGreen);
        font-size: 12px;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        outline: 2px solid var(--outlineColor);
    }

        #scooterNavTitle:hover {
            color: var(--tanGold);
            text-decoration: none;
        }

    #bikeNavTitle {
        font-family: 'Cinzel', serif;
        color: var(--darkGreen);
        font-size: 12px;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        outline: 2px solid var(--outlineColor);
    }

        #bikeNavTitle:hover {
            color: var(--tanGold);
            text-decoration: none;
        }

    .item {
        font-size: 10px;
        height: 36px;
        width: 100%;
        margin: auto;
        outline: 2px solid var(--outlineColor);
    }

    li {
        /*  background-color: #ebebeb;
    border-radius: 5px;*/
        display: inline-block;
        margin: 10px 0px;
        border: 2px solid var(--outlineColor);
    }

    #sectOneHead {
        font-family: 'Cinzel', serif;
        color: var(--lightGrey);
        font-size: 26px;
        display: flex;
        align-items: center;
        margin: auto;
        outline: 2px solid var(--outlineColor);
    }
}