@page
@model CountrySideBicylcling.Pages.Bikes.BMXModel
@{
}
<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">BMX</h3>
    </div>
    <h5 class="sloganHeader">GT</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.gtbicycles.com/can_en/bikes/bmx"> <img src="/Images/GTBMX.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Ghost</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.ghost-bikes.com/en/company"> <img src="/Images/GhostBMX.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Redline</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.redlinebicycles.com/"> <img src="/Images/RedlineBMX.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Stolen</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.stolenbmx.com/"> <img src="/Images/stolenBMX.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Reid</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.reidbikes.com/product/216-bmx-bike/"> <img src="/Images/RaidBMX.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>