@page
@model CountrySideBicylcling.Pages.Bikes.ElectricModel
@{
}
<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">Electric</h3>
    </div>
    <h5 class="sloganHeader">Fuji</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.fujibikes.com/collections/sanibel"> <img src="/Images/FujiElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Izip</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.izipbikes.com/"> <img src="/Images/IzipElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Dimondback</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.diamondback.com/bikes/ebike-1-bikes"> <img src="/Images/DiamondbackElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Magnum</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://magnumbikes.com/"> <img src="/Images/MagnumElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Aventon</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.aventon.com/"> <img src="/Images/AventonElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Retrospec</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://retrospec.com/collections/electric-bikes"> <img src="/Images/RetrospecElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Rambo</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.rambobikes.com/"> <img src="/Images/RamboElectric.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">GT</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.gtbicycles.com/gbr_en/bikes/power-series"> <img src="/Images/GTElectic.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>