@page
@model CountrySideBicylcling.Pages.Bikes.HybridModel
@{
}
<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">Hybrid</h3>
    </div>
    <h5 class="sloganHeader">Fuji</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.fujibikes.com/collections/all-bikes"> <img src="/Images/FujiHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>


<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">GT</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.gtbicycles.com/"> <img src="/Images/GtHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Schwinn</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.schwinnbikes.com/collections/hybrid-bikes?activeSort=featured&activeSortDirection=ascending"> <img src="/Images/SchwinnHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Cinelli</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.tredz.co.uk/cinelli-bikes"> <img src="/Images/CinelliHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Izip</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.izipbikes.com/"> <img src="/Images/IzipHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Reid</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.reidcycles.com.au/collections/hybrid-commuter-bikes"> <img src="/Images/ReidHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">All City</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://allcitycycles.com/"> <img src="/Images/AllCityHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">DimondBack</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.diamondback.com/"> <img src="/Images/DimondBackHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Retrospec</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://retrospec.com/collections/hybrid-bikes"> <img src="/Images/RetrospecHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Surly</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://surlybikes.com/"> <img src="/Images/SurlyHybrid.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>
