@page
@model CountrySideBicylcling.Pages.Bikes.HybridModel
@{
}
<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">Hybrid</h3>
    </div>
    <h5 class="sloganHeader">Fuji</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>


<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">GT</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Schwinn</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Cinelli</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Izip</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Reid</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">All City</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">DimondBack</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Retrospec</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Surly</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>
