@page
@model CountrySideBicylcling.Pages.Bikes.RoadModel
@{
}
<div id="scooterContainer">
    <div style="height:100px;"></div>
    <div class="headCont">
        <h3 class="head">Road</h3>
    </div>
    <h5 class="sloganHeader">DimondBack</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.diamondback.com/road-gravel-bikes"> <img src="/Images/dimondbackRoad.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Raid</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.reidcycles.com.au/collections/road-bikes"> <img src="/Images/ReidRoad.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Fuji</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.fujibikes.com/collections/road"> <img src="/Images/fujiRoad.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">GT</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.gtbicycles.com/jpn_jp/bikes/road"> <img src="/Images/GtRoad.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">All City</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://allcitycycles.com/bikes"> <img src="/Images/AllCityRoad.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>

<div id="scooterContainer">
    <div style="height:100px;"></div>
    <h5 class="sloganHeader">Schwinn</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Road</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.schwinnbikes.com/collections/road-bikes?activeSort=featured&activeSortDirection=ascending"> <img src="/Images/schwinnRoad.webp" style="height:250px;" /> </a>
        </div>
    </div>
</div>