@page
@model CountrySideBicylcling.Pages.Bikes.SpecialtyModel
@{
}
<div>
    Recumbant:
    Sun Bikes
    Tricycles:
    IZIP
    Sun Bikes
    Tandem:
    Schwinn
    Sun Bikes
    Handicap:
    Sun Bikes
</div>