<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CountrySideBicylcling</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CountrySideBicylcling.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
</head>
<body>
    <header>
    <nav id="navbar">

        <ul>
            <li><a class="navLink" asp-page="/Index">Home</a></li>
            <li><a class="navLink" asp-page="/About">About</a></li>
            <li class="dropdown">
                <a id="bikeNavTitle">Bikes</a>
                <div class="dropdown-content">
                        <a class="navLink" asp-page="/bikes">Bikes</a>
                        <a class="navLink" asp-page="/bikes">Bikes</a>
                        <a class="navLink" asp-page="/bikes">Bikes</a>
                </div>
            </li>
            <li class="dropdown">
                <a id="scooterNavTitle">Scooters</a>
                <div class="dropdown-content">
                    <a class="navLink" asp-page="/scooters">Scooters</a>
                    <a class="navLink" asp-page="/scooters">Scooters</a>
                    <a class="navLink" asp-page="/scooters">Scooters</a>
                </div>
            </li>
            <li><a class="navLink" asp-page="/Repairs">Repairs</a></li>
            <li><a class="navLink" asp-page="/Contact">Contact</a></li>
        </ul>
@*            Bikes: brands

            Contact-hours and location

            Home-Services

            Repairs

            Content-trails, tour around shop, and image&video*@
    </nav>
       

    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CountrySideBicylcling
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>