<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CountrySideBicylcling</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CountrySideBicylcling.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
</head>
<body>
    <header>
    <nav id="navbar">
        <ul>
            <li><a class="navLink" asp-page="/Index">Home</a></li>
            <li class="dropdown">
                <a id="bikeNavTitle">Bikes</a>
                <div class="dropdown-content">
                        <a class="navLink" asp-page="/bikes/BMX">BMX</a>
                        <a class="navLink" asp-page="/bikes/Electric">Electric</a>
                        <a class="navLink" asp-page="/bikes/Hybrid">Hybrid</a>
                        <a class="navLink" asp-page="/bikes/Mountain">Mountain</a>
                        <a class="navLink" asp-page="/bikes/Road">Road</a>
                        <a class="navLink" asp-page="/bikes/Specialty">Specialty</a>
                </div>
            </li>
            <li class="dropdown">
                <a id="scooterNavTitle">Scooters</a>
                <div class="dropdown-content">
                    <a class="navLink" asp-page="/scooters/Amish">Amish</a>
                    <a class="navLink" asp-page="/scooters/canadian">Canadian</a>
                    <a class="navLink" asp-page="/scooters/Czechoslovakian">Czechoslovakian</a>
                    <a class="navLink" asp-page="/scooters/ElectricScooter">Electric</a>
                </div>
            </li>
            <li><a class="navLink" asp-page="/Repairs">Repairs</a></li>
            <li><a class="navLink" asp-page="/Shop">Shop</a></li>
            <li><a class="navLink" asp-page="/Contact">Contact</a></li>
        </ul>
    </nav>
       
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CountrySideBicylcling
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>