@page
@model CountrySideBicylcling.Pages.ContactModel
@{
}
<div>
    Phone: 1 440 487 5018
    Email: CountrySideBicycling@gmail.com
    Address: 8663 Cox Road, Windsor Ohio 44099
    Area: Middlefield, BUrton, Trumble, Chardon, Orwell, Geauga, Ashteabula, and surrounding areas and counties
</div>