@page
@model CountrySideBicylcling.Pages.ContactModel
@{
}
<div id="ContactOneContainer"></div>

<div id="sectionTwoContainer">
    <div id="sectTwoHeadCont">
        <h3 id="sectTwoHead"></h3>
    </div>
    <div style="height:25px;"></div>
    <div id="sectionTwoBody">
        <div id="bodySectOne">
            <ul id="serviceList">
                <li class="serviceItem"> <u>Phone:</u> 1 440 487 5018</li>
                <li class="serviceItem"><u>Email:</u> CountrySideBicycling@gmail.com</li>
                <li class="serviceItem"><u>Address:</u> 8663 Cox Road, Windsor Ohio 44099</li>
                <li class="serviceItem"><u>Areas:</u> Middlefield, Burton, Trumble, Chardon, Orwell, Geauga, Ashteabula, and surrounding areas and counties</li>
            </ul>
        </div>
        <div id="bodySectTwo">
            <a href="https://maps.app.goo.gl/CVknzW8uaeDBKsQ89"> <img src="/Images/SignImg.jpg" style="height:400px;" /></a>
        </div>
    </div>
</div>