@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="sectionOneContainer">

    <div style="height:200px;"></div>

    <div id="sectOneHeadCont">
        <h3 id="sectOneHead">CountrySide Bicycling</h3>
    </div>
</div>

@*SECTION TWO*@
<div id="sectionTwoContainer">
    <div style="height:50px;"></div>
    <div id="sectTwoHeadCont">
         <h3 id="sectTwoHead">Services</h3>
    </div>
    <h5 id="sloganHeader">Ride for Family, Fun, and Fitness.</h5>
    <div style="height:25px;"></div>
    <div id="sectionTwoBody">
        <div id="bodySectOne">
            <ul id="serviceList">
                <li class="serviceItem">- Bike & Scooter Vending</li>
                <li class="serviceItem">- Repairs</li>
                <li class="serviceItem">- Accessories and Part Shop</li>
                <li class="serviceItem">- Rentals</li>
            </ul>
        </div>
        <div id="bodySectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>


@*SECTION THREE*@
<div id="sectionTwoContainer">
    <div style="height:50px;"></div>
    <div id="sectTwoHeadCont">
        <h3 id="sectTwoHead">Activities</h3>
    </div>
    <div style="height:25px;"></div>
    <div id="sectionTwoBody">
        <div id="bodySectOne">
            <ul id="serviceList">
                <li class="serviceItem"> - Ride For <a href="https://greatcyclechallenge.com/Riders/CoySmith3">Cancer</a></li>
                <li class="serviceItem"> - Trails in Ohio</li>
            </ul>
            <a href="https://ohiobikeways.net/gmap.html"> <img src="/Images/CancerImg.svg" style="height:150px;" /></a>
        </div>
        <div id="bodySectTwo">
            <a href="https://ohiobikeways.net/gmap.html"> <img src="/Images/OhioBikeTrails.gif" style="height:250px;"/></a>
        </div>
    </div>
</div>