@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="sectionOneContainer">

    <div style="height:200px;"></div>

    <div id="sectOneHeadCont">
        <h3 id="sectOneHead">CountrySide Bicycling</h3>
    </div>
</div>

<div id="sectionTwoContainer">
    <div id="sectTwoHeadCont">
         <h3 id="sectTwoHead">Services</h3>
        <h5 id="sloganHeader">Ride for Family, Fun, and Fitness.</h5>
    </div>
   
@*
    <h5 id="sloganHeader">Ride for Family, Fun, and Fitness.</h5>
*@


</div>