@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="sectionOneContainer">

    <div style="height:200px;"></div>

    <div id="sectOneHeadCont">
        <h3 id="sectOneHead">CountrySide Bicycling</h3>
    </div>
</div>

@*SECTION TWO*@
<div id="sectionTwoContainer">
    <div style="height:50px;"></div>
    <div class="headCont">
        <h3 class="head">Services</h3>
    </div>
    <h5 class="sloganHeader">Ride for Family, Fun, and Fitness.</h5>
    <div style="height:25px;"></div>
    <div class="sectBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item">- Bike & Scooter Vending</li>
                <li class="item">- Repairs</li>
                <li class="item">- Accessories and Part Shop</li>
                <li class="item">- Rentals</li>
            </ul>
        </div>
        <div class="sectTwo">
            <a href="https://www.youtube.com/watch?v=zsPvJlBIt7g%22%3E"> <img src="/Images/BikeRepair.jpg" style="height:250px;" /> </a>
        </div>
    </div>
</div>

@*SECTION THREE*@
<div id="sectionThreeContainer">
    <div style="height:50px;"></div>
    <div id="sectThreeHeadCont">
        <h3 id="sectThreeHead">Activities</h3>
    </div>
    <div style="height:25px;"></div>
    <div id="sectionThreeBody">
        <div class="sectOne">
            <ul class="list">
                <li class="item"> - Ride For <a href="https://greatcyclechallenge.com/Riders/CoySmith3%22%3ECancer"></a></li>
                <li class="item"> - Trails in Ohio</li>
            </ul>
            <a href="https://ohiobikeways.net/gmap.html%22%3E"> <img src="/Images/CancerImg.svg" style="height:150px;" /></a>
        </div>
        <div class="sectTwo">
            <a href="https://ohiobikeways.net/gmap.html%22%3E"> <img src="/Images/OhioBikeTrails.gif" style="height:250px;"/></a>
        </div>
    </div>
</div>