@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="sectionOneContainer">

    <div style="height:200px;"></div>

    <div id="sectOneHeadCont">
        <h3 id="sectOneHead">CountrySide Bicycling</h3>
    </div>
</div>
