@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="sectionOneContainer">
    <div id="sectOneHeadCont">
        <h3 id="sectOneHead">CountrySideBicycling</h3>
    </div>
</div>
