@page
@model CountrySideBicylcling.Pages.ShopModel
@{
}
<div>
    Bike:
    Parts: Tubes, Lubes, bearings, handbars, shifters, cables, seats, chains, seat-posts, rims, tires, wheels, spokes, bottom brackets, peddals, cranks, stems, forks, shocks, batteries, brakepads
    Acceories: Saddle bags, lights, reflectors, stickers, bar raps, bar racks, fenders

    Scooter:
    Parts: Tubes, Lubes, bearings, handbars, cables, rims, tires, wheels, spokes, stems, forks, shocks, batteries, brakepads, breaks
    Acceories: Saddles, lights, reflectors, stickers, bar raps, bar racks, fenders

    Rider Gear:
    Acceories: Helmet, Gloves, Jerseys, Vests, Socks, kneepads, elbowpads, Arm Coolers, Arm Warmers, Headbands, helmet covers, led bands, leg warmer, leg coolers, outerwear, reflective gear, shorts, socks, T-shirts
</div>