@page
@model CountrySideBicylcling.Pages.ShopModel
@{
}
<div style="height:150px;"></div>

<div id="RiderGearContainer">
    <div id="sectTwoHeadCont">
        <h3 id="sectTwoHead">Rider Gear</h3>
    </div>
    @*<hr width="66%;" align="center">*@
    <div style="height:25px;"></div>
    <div id="RiderGearBody">
        <div id="RiderGearBodySectTwo">
            <h3 id="GearTwoHead">Accesories</h3>
            <ul id="serviceList">
                <li class="serviceItem">Helmet</li>
                <li class="serviceItem">Gloves</li>
                <li class="serviceItem">Jerseys</li>
                <li class="serviceItem">Vests</li>
                <li class="serviceItem">Socks</li>
                <li class="serviceItem">Kneepads</li>
                <li class="serviceItem">Elbowpads</li>
                <li class="serviceItem">Arm Coolers</li>
                <li class="serviceItem">Arm Warmers</li>
                <li class="serviceItem">Headbands</li>
                <li class="serviceItem">Helmet Covers</li>
                <li class="serviceItem">Leg Bands</li>
                <li class="serviceItem">Leg warmer</li>
                <li class="serviceItem">Leg Coolers</li>
                <li class="serviceItem">Outerwear</li>
                <li class="serviceItem">Reflective Gear</li>
                <li class="serviceItem">Shorts</li>
                <li class="serviceItem">Socks</li>
                <li class="serviceItem">T-Shirts</li>
            </ul>
            @*<p>  Helmet, Gloves, Jerseys, Vests, Socks, kneepads, elbowpads, Arm Coolers, Arm Warmers, Headbands, helmet covers, led bands, leg warmer, leg coolers, outerwear, reflective gear, shorts, socks, T-shirts</p>*@
        </div>
    </div>
</div>

<div id="sectionTwoContainer">
    <div id="sectTwoHeadCont">
        <h3 id="sectTwoHead">Bikes</h3>
    </div>
    <div style="height:25px;"></div>
    <div id="sectionTwoBody">
        <div id="bodySectOne">
            <p><U>Parts:</U> Tubes, Lubes, bearings, handbars, shifters, cables, seats, chains, seat-posts, rims, tires, wheels, spokes, bottom brackets, peddals, cranks, stems, forks, shocks, batteries, brakepads</p>
        </div>
        <div id="bodySectTwo">
            <div id="bodySectTwo">
                <p><u>Accesories:</u> Saddle bags, lights, reflectors, stickers, bar raps, bar racks, fenders</p>
            </div>
        </div>
    </div>
</div>


<div id="sectionTwoContainer">
    <div id="sectTwoHeadCont">
        <h3 id="sectTwoHead">Scooters</h3>
    </div>
    <div style="height:25px;"></div>
    <div id="sectionTwoBody">
        <div id="bodySectOne">
            <p><U>Parts:</U> Tubes, Lubes, bearings, handbars, cables, rims, tires, wheels, spokes, stems, forks, shocks, batteries, brakepads, breaks</p>
        </div>
        <div id="bodySectTwo">
            <div id="bodySectTwo">
                <p><u>Accesories:</u> Saddles, lights, reflectors, stickers, bar raps, bar racks, fenders</p>
            </div>
        </div>
    </div>
</div>