@page
@model CountrySideBicylcling.Pages.ShopModel
@{
}
<div style="height:100px;"></div>

@*RIDER GEAR*@

<div id="RiderGearContainer">
    <div class="headCont">
        <h3 class="head">Rider Gear</h3>
    </div>
    @*<hr width="66%;" align="center">*@
    <div style="height:25px;"></div>
    <div id="RiderGearBody">
        <div id="RiderGearBodySectTwo">
            <h3 class="smallHead">Accesories</h3>

            <div class="shopList">
                <ul class="list">
                    <li class="item">Helmet</li>
                    <li class="item">Gloves</li>
                    <li class="item">Jerseys</li>
                    <li class="item">Vests</li>
                    <li class="item">Socks</li>
                    <li class="item">T-Shirts</li>
                </ul>
            </div>
            <div class="shopList">
                <ul class="list">
                    <li class="item">Kneepads</li>
                    <li class="item">Elbowpads</li>
                    <li class="item">Arm Coolers</li>
                    <li class="item">Arm Warmers</li>
                    <li class="item">Headbands</li>
                    <li class="item">Shorts</li>
                </ul>
            </div>
            <div class="shopList">
                <ul class="list">
                    <li class="item">Helmet Covers</li>
                    <li class="item">Leg Bands</li>
                    <li class="item">Leg warmers</li>
                    <li class="item">Outerwear</li>
                    <li class="item">Socks</li>
                    <li class="item">Reflective Gear</li>
                </ul>
            </div>

            @*<p>  Helmet, Gloves, Jerseys, Vests, Socks, kneepads, elbowpads, Arm Coolers, Arm Warmers, Headbands, helmet covers, led bands, leg warmer, leg coolers, outerwear, reflective gear, shorts, socks, T-shirts</p>*@
        </div>
    </div>
</div>

@*BIKES*@

<div id="bikesContainer">
    <div class="headCont">
        <h3 class="head">Bikes</h3>
    </div>
    <div style="height:25px;"></div>
    <div class="sectBody2">

        <div class="sectOne">
            @*Tubes, Lubes, bearings, handbars, shifters, cables, seats, chains, seat-posts, rims, tires, wheels, spokes, bottom brackets, peddals, cranks, stems, forks, shocks, batteries, brakepads*@
            <h3 class="smallHead">Parts:</h3>

            <div class="shopList">
                <ul class="list">
                    <li class="item">Tubes</li>
                    <li class="item">Lubes</li>
                    <li class="item">bearings</li>
                    <li class="item"> handbars</li>
                    <li class="item">shifters</li>
                    <li class="item">cables</li>
                    <li class="item">batteries</li>
                </ul>
            </div>
            <div class="shopList">
                <ul class="list">
                    <li class="item">seats</li>
                    <li class="item">chains</li>
                    <li class="item">seat-posts</li>
                    <li class="item">rims</li>
                    <li class="item">tires</li>
                    <li class="item">wheels</li>
                    <li class="item">brakepads</li>
                </ul>
            </div>
            <div class="shopList">
                <ul class="list">
                    <li class="item">spokes</li>
                    <li class="item">brackets</li>
                    <li class="item">peddals</li>
                    <li class="item">cranks</li>
                    <li class="item">stems</li>
                    <li class="item">forks</li>
                    <li class="item">shocks</li>
                </ul>
            </div>
        </div>

        <div class="sectTwo">
            @*Saddle bags, lights, reflectors, stickers, bar raps, bar racks, fenders*@

            <h3 class="smallHead">Accessories:</h3>
            <div class="shopList2">
                <ul class="list">
                    <li class="accessoryItem">Saddle bags</li>
                    <li class="accessoryItem">lights</li>
                    <li class="accessoryItem">bearings</li>
                    <li class="accessoryItem">reflectors</li>
                </ul>
            </div>
            <div class="shopList2">
                <ul class="list">
                    <li class="accessoryItem">stickers</li>
                    <li class="accessoryItem">bar raps</li>
                    <li class="accessoryItem">bar racks</li>
                    <li class="accessoryItem">fenders</li>
                </ul>
            </div>

        </div>

    </div>
</div>

@*SCOOTER*@

<div id="scooterContainer">
    <div class="headCont">
        <h3 class="head">Scooters</h3>
    </div>
    <div style="height:25px;"></div>
    <div class="sectBody2">
        <div class="sectOne">
            <h3 class="smallHead">Parts:</h3>
            @*Tubes, Lubes, bearings, handbars, cables, rims, tires, wheels, spokes, stems, forks, shocks, batteries, brakepads, breaks*@
            <div class="shopList">
                <ul class="list">
                    <li class="accessoryItem">Tubes</li>
                    <li class="accessoryItem">Lubes</li>
                    <li class="accessoryItem">bearings</li>
                    <li class="accessoryItem">Handbars</li>
                    <li class="accessoryItem">Cables</li>
                </ul>
            </div>
            <div class="shopList">
                <ul class="list">
                    <li class="accessoryItem">Rims</li>
                    <li class="accessoryItem">Tires</li>
                    <li class="accessoryItem">Wheels</li>
                    <li class="accessoryItem">Spokes</li>
                    <li class="accessoryItem">Stems</li>
                </ul>
            </div>
            <div class="shopList">
                <ul class="list">
                    <li class="accessoryItem">Forks</li>
                    <li class="accessoryItem">Shocks</li>
                    <li class="accessoryItem">Batteries</li>
                    <li class="accessoryItem">Brakepads</li>
                    <li class="accessoryItem">Breaks</li>
                </ul>
            </div>
        </div>

        <div class="sectTwo">
            <h3 class="smallHead">Accessories:</h3> @*Saddles, lights, reflectors, stickers, bar raps, bar racks, fenders*@
            <div class="shopList2">
                <ul class="list">
                    <li class="accessoryItem">Saddles</li>
                    <li class="accessoryItem">Lights</li>
                    <li class="accessoryItem">Reflectors</li>
                </ul>
            </div>
            <div class="shopList2">
                <ul class="list">
                    <li class="accessoryItem">Stickers</li>
                    <li class="accessoryItem">Bar wraps & racks</li>
                    <li class="accessoryItem">Fenders</li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
